/* fonte */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}

.grid {
    display: grid;
}

/* ---------- Navbar ---------- */
.head{
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
}

.nav_conteiner{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.nav_list {
    list-style: none;
    grid-template-columns: repeat(2,2fr);
    gap: 2rem;
}

.nav_link {
    line-height: 1px;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.nav_link:hover {
    border: 1px solid #f7f7f7;
}
/* ---------------------------------------- */

/* Conteudo */
.home{
    padding-top: 20px;
}

.home_page {
    background: #FFBF00;
    width: 100%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.home_content {
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding: 10px;
}

.my_name {
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    width: 450px;
}
.my_area {
    word-break: break-all;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    font-size: 60px;
    width: 480px;
}

.btn {
    text-decoration: none;
    cursor: pointer;
}

.btn_img {
    width: 28px;
    height: 28px;
    transform: translatey(0px);
    animation: flutuar 5s ease-in-out infinite;
}

.btn_img:hover{
    border: 2px solid #f7f7f7;
}

@keyframes flutuar {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-4px);
    }
    100% {
        transform: translatey(0px);
    }
}

.about_me {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    width: 450px;
    text-align: right;
}